@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&display=swap');
*{
  font-family: 'Encode Sans Expanded', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}